#{set summernoteEnabled:true /}

%{ _bName = _bName ? _bName  : 'object'; }%
#{field _bName +'.'+ _name}
<div class="form-group row ${_groupClass}"  id="${field.id}_group">
  <label class="col-sm-2 col-form-label" for="${field.id}">&{field.name}</label>
  <div class="col-sm-10">
    <textarea class="form-control ${_inputClass} summernote" name="${field.name}" id="${field.id}"
         ${_optionalAttr} rows="${_rows==null ? '3' : _rows}" #{if _helpBlock}aria-describedby="${field.id}helpBlock"#{/if}>
         ${params[field.name]?.escape()?.raw() ?: field.error?.message == 'validation.required' ? '' : _value?.escape()?.raw()}
    </textarea>
    
    #{if _validations}
        <small id="${field.id}helpBlock" class="form-text text-muted">
      #{list _validations}
          <div>&{_}</div> 
      #{/list}
        </small>
    #{/if}
    #{elseif _helpBlock}
    <small id="${field.id}helpBlock" class="form-text text-muted">${_helpBlock}</small>
    #{/elseif}
    #{ifError field.name}
      <div class="invalid-feedback">
        ${field.error.raw()}
      </div>
    #{/ifError}
  </div>
</div>
#{/field}
