#{extends 'main.html' /} 
#{set title:play.i18n.Messages.get('createCollection.pageTitle') /} 

#{set select2Enabled:"true"  /}

<h4>&{'createCollection.pageTitle'}</h4>
#{form @createCollection(), class:'form' , role:'form' , method:'post' }

  <input type="hidden" name="collection.collector.id" value="${models.users.Collector.connectedCollector()?.id}" />

  %{ List<play.data.validation.Validation.Validator> validators = play.data.validation.Validation.getValidators(models.collection.Collection.class, 'name', 'collection'); }%
  #{form.textField name:'name',bName:'collection',value:flash['collection.name'] , validators:validators , optionalAttr:utils.Utils.jvalidateTagsFromValidators(validators) /}

  %{ validators = play.data.validation.Validation.getValidators(models.collection.Collection.class, 'description', 'collection'); }%
  #{form.longtextField name:'description',bName:'collection',value:flash['collection.description'] , validators:validators , optionalAttr:utils.Utils.jvalidateTagsFromValidators(validators) /}
  
  #{field 'collection.icon'}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="${field.id}">&{field.name}</label>
    <div class=" col-sm-10">
      <input type="file" name="${field.name}" id="${field.id}" class="form-control-file ${field.errorClass}" value="${flash?.icon}" />
      #{if collection?.icon && collection?.icon?.exists()}
        <a class="currentAttachment" href="@{Collections.renderCollectionIcon(collection?.id)}">Download current file (${collection?.icon?.length()?.formatSize()})</a>
        <span class="removeAttachment"><input type="checkbox" name="${field.name}_delete_" value="true" /> (delete)</span>      
      #{/if}
    </div>
  </div>
  #{/field}
  
  #{field 'collection.category'}
    <select name="${field.name}" id="${field.id}" class="custom-select select2">
      <option selected value>Please select categories</option>
    </select>
  #{/field}
  
  #{field 'collection.tags'}
    <select name="${field.name}" id="${field.id}" class="custom-select custom-tag" multiple="multiple"  >
      <option selected value>Please select tags</option>
        #{list models.collection.Tag.find("select distinct t.name from Tag t").fetch() }
          <option value="${_}">${_}</option> 
        #{/list}
    </select>    
  #{/field}

  <button type="submit" class="btn btn-primary">&{'form.submit'}</button>

#{/form}

#{set 'moreScripts'}
<script>
</script>

#{/set}
