#{extends 'main.html' /} 
#{set title:play.i18n.Messages.get('createCollection.pageTitle') /} 

#{set 'moreStyles'}
<style>
</style>
#{/set}

<h4>&{'createCollection.pageTitle'}</h4>
#{form @editCollection(), class:'form' , role:'form' }

  <input type="hidden" name="collection.collector.id" value="${models.users.Collector.connectedCollector()?.id}" />

  %{ List<play.data.validation.Validation.Validator> validators = play.data.validation.Validation.getValidators(models.collection.Collection.class, 'name', 'collection'); }%
  #{form.textField name:'name',bName:'collection',value:flash?.name , validators:validators , optionalAttr:utils.Utils.jvalidateTagsFromValidators(validators) /}

  %{ validators = play.data.validation.Validation.getValidators(models.collection.Collection.class, 'description', 'collection'); }%
  #{form.longtextField name:'description',bName:'property',value:flash?.description , validators:validators , optionalAttr:utils.Utils.jvalidateTagsFromValidators(validators) /}
  
  #{field 'collection.icon'}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="${field.id}">&{field.name}</label>
    <div class=" col-sm-10">
      <input type="image" name="${field.name}" id="${field.id}" class="form-control-file ${field.errorClass}" value="${flash?.icon}" />
      #{if collection.icon && collection?.icon?.exists()}
        <!-- <a class="currentAttachment" href="@{Collections.renderCollectionIcon(collection?.id)}">Download current file (${collection?.icon?.length()?.formatSize()})</a> -->
        <span class="removeAttachment"><input type="checkbox" name="${field.name}_delete_" value="true" /> (delete)</span>      
      #{/if}
    </div>
  </div>
  #{/field}
  
  #{field 'collection.category'}
    <select name="${field.name}" id="${field.id}" class="custom-select">
      <option selected value>Please select categories</option>
    </select>
  #{/field}
  
  #{field 'collection.tags'}
    <select name="${field.name}" id="${field.id}" class="custom-select">
      <option selected value>Please select tags</option>
    </select>    
  #{/field}

  <button type="submit" class="btn btn-primary">&{'form.submit'}</button>

#{/form}
