#{extends 'main.html' /} 
#{set title:play.i18n.Messages.get('editCollectionItems.pageTitle') /} 

#{set 'moreStyles'}
<style>
</style>
#{/set}

#{set select2Enabled:"true"  /}

<h3 class="text-center">Editing ${collection?.name}</h3>

#{form @updateCollection(collection?.id), class:'form' , role:'form' }

  <input type="hidden" name="collection.collector.id" value="${models.users.Collector.connectedCollector()?.id}" />

  %{ List<play.data.validation.Validation.Validator> validators = play.data.validation.Validation.getValidators(models.collection.Collection.class, 'name', 'collection'); }%
  #{form.textField name:'name',bName:'collection',value:collection?.name , validators:validators , optionalAttr:utils.Utils.jvalidateTagsFromValidators(validators) /}

  %{ validators = play.data.validation.Validation.getValidators(models.collection.Collection.class, 'description', 'collection'); }%
  #{form.longtextField name:'description',bName:'collection',value:collection?.description?.raw() , validators:validators , optionalAttr:utils.Utils.jvalidateTagsFromValidators(validators) /}
  
  #{field 'collection.icon'}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="${field.id}">&{field.name}</label>
    <div class=" col-sm-10">
      <input type="image" name="${field.name}" id="${field.id}" class="form-control-file ${field.errorClass}" />
      #{if collection.icon && collection?.icon?.exists()}
        <a class="currentAttachment" href="@{Collections.renderCollectionIcon(collection?.id)}">Download current file (${collection?.icon?.length()?.formatSize()})</a>
        <span class="removeAttachment"><input type="checkbox" name="${field.name}_delete_" value="true" /> (delete)</span>      
      #{/if}
    </div>
  </div>
  #{/field}
  
  #{field 'collection.category'}
    <select name="${field.name}" id="${field.id}" class="custom-select select2">
      <option selected value>Please select categories</option>
    </select>
  #{/field}
  
  #{field 'collection.tags'}
    <select name="${field.name}" id="${field.id}" class="custom-select custom-tag" multiple="multiple">
      <option selected value>Please select tags</option>
      #{list models.cms.Tag.findAll()}
        <option value="${_}" ${collection?.tags?.contains(_) ? 'selected' : ''}>${_}</option>
      #{/list}
    </select>    
  #{/field}
  <button type="submit" class="btn btn-primary">&{'form.submit'}</button>

#{/form}

<hr class="my-3" />

<div class="row">
#{list items:collection?.items, as:'item'}
  <div class="col-lg-3 col-md-4 col-sm-6">
    <h5><strong>${item?.name}</strong></h5>
    #{if item?.hasImage()}
      #{list items:item?.images , as: 'img'}
        <img src="@{Collections.renderCollectionItemIcon(item?.id,img_index-1)}" alt="" class="collection-item-icon" />
        <div class="img-controld btn-group" role="group" aria-label="Basic example">
          <a type="button" href="" class="btn btn-primary">View</a>
          <a type="button" href="" class="btn btn-secondary">Edit</a>
          <a type="button" href="" class="btn btn-danger">Delete</a>
        </div>
      #{/list}
    #{/if}
  </div>
#{/list}
#{else}
  <div class="col-md-12 text-center">
    <p>&{'collection.noItems'}</p>  
  </div>
#{/else}
  <div class="col-md-4 pull-right">
    <a href="" class="btn btn-primary btn-block">Add New Item</a>
  </div>
</div>

<hr />
