<!DOCTYPE html>
<html lang="${lang}" ${lang=="fa" ? "dir='rtl'" : ""}>
<head>
<meta charset="${_response_encoding}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Collectors">
<meta name="author" content="Arman Radmanesh <radmanesh@gmail.com>">
<meta name="keyword" content="">
<link rel="shortcut icon" type="image/png" href="@{'/public/img/favicon.png'}">
<title>#{get 'title' /}</title>

<!-- Icons -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet" type="text/css">


<link rel="stylesheet" media="screen" href="@{'/public/vendor/font-awesome/css/font-awesome.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/vendor/pg.chocka-blocks/css/cb-style.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/vendor/file-upload-with-preview/dist/file-upload-with-preview.css'}">
<link rel="stylesheet" href="@{'/public/css/bootstrap.css'}">

#{include 'tags/plugins/libraries.html' /}
#{get 'libStyles' /}
#{get 'moreStyles' /}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">کلکسیونر</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler34" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler34">
          <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" >
              <a class="nav-link" href="/">خانه <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">مجموعه‌ها</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">مجموعه‌داران</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
              #{if controllers.security.Security.isConnected()}
                #{deadbolt.restrict roles:[['admin'], ['superuser']]}
                    <li class="nav-item">
                      <a class="btn text-dark" href="@{admin.Dashboard.index}"><i class="fa fa-lg fa-fw fa-tachometer"></i></a>
                    </li>
                #{/deadbolt.restrict}    
                <li class="nav-item dropdown">
                  <button class="nav-link dropdown-toggle" type="button"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="@{'/public/img/avatar/1.jpg'}" class="img-avatar">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <h6 class="dropdown-header">${username}</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@{Application.accountSettings()}"><i class="fa fa-cogs"></i> &{'main.navbar.user.settings'}</a>
                    <a class="dropdown-item" href="@{Secure.logout()}"><i class="fa fa-sign-out"></i> &{'main.navbar.logout'}</a>
                  </div>
                </li>
              #{/if}
              #{else}
                <li class="nav-item">
                  <a class="btn btn-outline-secondary" href="@{Secure.Login()}">&{'main.navbar.login'}</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary" href="">&{'secure.login.signup'}</a>
                </li>
              #{/else}
          </ul>
        </div>
      </div>
    </nav>
      <div class="container notifications-container">
    #{ifErrors}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>&{'flash.error.strong'}</strong>
        <ul class="list-unstyled">
          #{errors}
             <li>${error}</li>
          #{/errors}                
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    #{/ifErrors}
    #{else}
      #{if flash.success}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>&{'flash.success.strong'}</strong> &{flash.success}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      #{/if}
      #{if flash.error || error}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>&{'flash.error.strong'}</strong> &{error ?: flash.error}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      #{/if}
    #{/else}
  </div>

  <div class="main-content">
    #{if noContainer}
      #{doLayout /}
    #{/if}
    #{else}
    <div class="container">
      #{doLayout /}
    </div>
    #{/else}
  </div>
  <footer class="app-footer">
    <div class="footer-copyright">
      <p class="text-center">&{'main.footer.text'}<p>
    </div>
  </footer>

  <script src="@{'/public/vendor/jquery/jquery.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="@{'/public/vendor/popper.js/dist/umd/popper.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="@{'/public/vendor/bootstrap/dist/js/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="@{'/public/vendor/pg.chocka-blocks/js/jquery.easy-pie-chart.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="@{'/public/vendor/pg.chocka-blocks/js/jquery.fitvids.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="@{'/public/vendor/pg.chocka-blocks/js/jquery.mb.YTPlayer.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="@{'/public/vendor/pg.chocka-blocks/js/cb-main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
  #{get 'moreScripts' /}
  #{get 'libScripts' /}
</body>
</html>
